<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new campground </title>
</head>
<style>
    form {

        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 400;
        padding-left: 10px;
        padding-top:10px ;
        font-size: 20px;
    }
    .title ,.location {
        margin-bottom: 8px;
    }
    .add-camp {
        margin-bottom: 10px;
        background-color: gray;
        font-size: 20px;
        border-style: solid;
        border-radius: 4px;
        padding-top: 3px;
        padding-bottom :3px;
        border: 1px;
    }
    .add-camp:hover {
        background-color: lightgray;
    }
    footer {
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
</style>
<body style="
background-color: rgb(245, 237, 237);
">
    <form action="/campgrounds" method="POST">
        <div class="title">
            <label for="title">Title</label>
            <input type="text" id="title" name="campground[title]" >
        </div>
        <div class="location">
            <label for="location">Location</label>
            <input type="text" id="location" name="campground[location]" >
        </div>
        <button class="add-camp">Add campground</button>
    </form>
    <footer><a href="/campgrounds">All Campgrounds</a></footer>
</body>
</html>